<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index-style.css">
    <link rel="stylesheet" href="../assets/css/encrypte-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Permanent+Marker&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Enigma Encryptor</title>
</head>

<body>

    <header class="header">
        <div class="logo">
            <h2><a href="#">Encryptor</a></h2>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">My Info</a></li>
            </ul>
        </nav>
        <a href="#" class="btn"><button class="btn-encrypt">Encrypt</button></a>
    </header>

    <main>
        <div class="message-container">
            <h2>Write Your Message</h2>
            <textarea class="textarea" placeholder="Enter a message..."></textarea>
        </div>
        <div class="encryption-container">
            <h2>Write Your Message</h2>
            <p></p>
        </div>
<!-- 
        <div>
            <div>
                <form>
                    <textarea id="mensaje" name="" id="" cols="30" rows="10"></textarea>
                    <button type="button" class="encriptar" onclick="llamarEncriptar()">ENCRIPTAR</button>
                    <button type="button" class="desencriptar">DESENCRIPTAR</button>
                </form>
            </div>

            <div class="mensaje-contenedor">
                <h2>MENSAJE</h2>
                <p class="escribirMensaje">MENSAJE</p>
            </div>
        </div> -->
    </main>


    <footer>
        <div class="footer-container">
            <div class="sec about-us">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sint quia ut, ab ea molestiae,
                    accusantium facilis distinctio voluptas perspiciatis quaerat eum, enim quod a! Ad optio modi
                    officiis hic!</p>
                <ul class="sci">
                    <li><a href="https://www.linkedin.com/in/cristianeulises/" target="_blank"><i
                                class="fa fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/cristianeulises" target="_blank"><i
                                class="fa fa-brands fa-github"></i></a></li>
                    <li><a href="https://www.freecodecamp.org/cristianeulises" target="_blank"><i
                                class="fa fa-brands fa-free-code-camp"></i></a></li>
                </ul>
            </div>
            <div class="sec quick-links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="https://www.aluracursos.com/" target="_blank">Alura</a></li>
                    <li><a href="https://www.aluracursos.com/challenges/challenge-one-logica" target="_blank">Encrypter
                            Project</a></li>
                    <li><a href="https://www.oracle.com/lad/education/oracle-next-education/#about-course"
                            target="_blank">ONE</a></li>
                    <li><a href="https://github.com/cristianeulises/encrypter" target="_blank">Github Project</a></li>
                </ul>
            </div>
            <div class="sec contact">
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><i class="fa-solid fa-user"></i></span>
                        <span>Cristian Sánchez</span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-location-dot"></i></span>
                        <span>Dominican Republic</span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-envelope"></i></span>
                        <p class="footer-contact-links"><a
                                href="mailto:scristianeulises@gmail.com">scristianeulises@gmail.com</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <p>&copy Copyrigh Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, quia.</p>
    </div>


    <script src="../assets/js/encriptador.js"></script>
</body>

</html>