@media only screen and (max-width: 599px) {
   main {
      align-items: center;
      justify-content: center;
      text-align: center;
   }

   main > h2 {
      margin: 25px 10%;
   }

   main .container-encrytor {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0;
   }

   .message-container {
      width: 100%;
      margin: 0;
   }

   .textarea {
      margin: 0;
      width: 90%;
   }

   .encryption-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
   }

   .btn-encrypt-message {
      display: block;
      width: 100%;
      padding: 10px 20px;
      height: 100%;
   }

   .btn-encrypt-message div {
      display: flex;
      text-align: justify;
      position: static;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      width: 100%;
   }

   .btn-encrypt-message div button {
      text-align: center;
      width: 100%;
      margin: 10px 20px;
   }

   .btn-encrypt-message div button.copy {
      position: static;
      width: 100%;
      margin: 10px 20px;
   }

   .new-text-container div {
   }

   .new-text-container {
      display: flex;
      width: 100%;
   }

   .new-text-container > p.text {
      max-width: 100%;
      min-width: 100%;
   }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) and (max-width: 979px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
